<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'allumé',
    'list-group-item-danger': appareilStatus === 'éteint'
  }"
>
  <h4>
    Appareil : {{ appareilName }}
  </h4>
  <h4>
    Statut :
    <span [ngStyle]="{ color: getColor() }">
      {{ getStatus() }}
    </span>
  </h4>
  <button
    type="button"
    class="btn btn-outline-info btn-space"
    [routerLink]="[id]"
  >
    Détails
  </button>
  <button
    type="button"
    class="btn btn-success btn-space"
    (click)="onSwitchOn()"
    [disabled]="appareilStatus === 'allumé'"
  >
    Allumer
  </button>
  <button
    type="button"
    class="btn btn-danger btn-space"
    (click)="onSwitchOff()"
    [disabled]="appareilStatus === 'éteint'"
  >
    Eteindre
  </button>
</li>
