<div class="col-xs-12">
  <h2>Mes appareils de crypto-monnaie</h2>
  <p>Mis à jour : {{ lastUpdate | async | date: "medium" }}</p>
  <ul class="list-group">
    <app-appareil
      *ngFor="let appareil of appareils; let i = index"
      [indexOfAppareil]="i"
      [appareilName]="appareil.name"
      [appareilStatus]="appareil.status"
      [id]="appareil.id"></app-appareil>
  </ul>
  <button class="btn btn-success btn-space" (click)="onAllumer()">
    Tout allumer
  </button>
  <button class="btn btn-danger btn-space" (click)="onEteindre()">
    Tout éteindre
  </button>
  <button class="btn btn-outline-info btn-space" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-outline-info btn-space" (click)="onFetch()">Charger</button>
</div>
